body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}


/*bg*/
.bg__menu {
    position: absolute;
    width: 100%;
    height: 0.4vh;

    background: linear-gradient(180deg, #000000 -538.2%, rgba(228, 228, 228, 0) 100%);
}

/*vacancy*/
.vacancy {
    position: relative;
    margin-left: 12%;
    margin-right: 10%;
    margin-bottom: 7%;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #000;
}

.all {
    width: 70%;
}

.vacancy h6 {
    font-size: 32px;
    font-weight: 600;
    margin-top: 14%;
    margin-bottom: 1.5%;
}

.inform_ab_vac {
    margin: 9% 0;
    margin-bottom: 5%;
}

.inform_ab_vac h5 {
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 1%;
}

.inform_ab_vac .city {
    font-size: 14px;
}

.inform_ab_vac .text {
    margin: 3% 0;
    margin-top: 3%;
}

.inform_ab_vac .bold {
    font-weight: 600;
}

.btn_npr {
    cursor: pointer;
    padding: 1% 5%;
    border-radius: 30px;

    border: none;
    background: rgba(190, 190, 190, 0.4);

    font-family: Viaoda Libre;
    font-style: normal;
    font-weight: 400;
    color: #000;
    font-size: 16px;

    text-decoration: none;
}

.button {
    height: 45px;
    margin: 5.5% 0;
    margin-bottom: 4%;
}

/*bg*/
.bg__footer {
    position: absolute;
    width: 100%;
    height: 0.4vh;
    margin-top: 1.5%;

    background: linear-gradient(180deg, #000000 -538.2%, rgba(228, 228, 228, 0) 100%);
}

/*Подвал*/
footer {
    position: relative;
    margin: 0;
    padding: 5vw;
    width: 100%;
    height: 2vw;
}

.fottext {
    font-family: Viaoda Libre;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: black;
}

/*popup*/
.pop_up {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100000000000;
    
    transition: 0.5s ease-in-out;
}

.pop_up.active {
}

.pop_up_container {
    display: flex;
    width: 100%;
    height: 100%;
}

.pop_up_body {
    position: relative;
    margin: auto;
    width: 35%;
    height: fit-content;
    padding: 4%;

    /*background: rgba(255, 255, 255, 0.95);*/
    backdrop-filter: blur(20px);

    font-family: Viaoda Libre;
    font-style: normal;
    font-weight: 400;

    border-radius: 30px;
}

.pop_up_close img{
    position: absolute;
    width: 6%;
    top: 2%;
    right: 4%;
    cursor: pointer;
}

.pop_up_body span {
    font-size: 19px;
}

.pop_up_body button {
    height: 100%;
    display: block;
    margin: 4% auto;
    padding: 1% 5%;
    margin-top: 10%;
    cursor: pointer;

    font-family: Viaoda Libre;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    border-radius: 30px;
}

.input_box {
    position: relative;
    width: 90%;
    height: 10%;
    border-bottom: 2px solid #162938;
    margin: 7% auto;
}

.input_box label {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input_box input:focus~label,
.input_box input:valid~label {
    top: -45%;
}

.input_box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;

    font-family: Viaoda Libre;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}